<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>
<h2>Class of <%= @user.year %></h2>

<h3>Schedule Reviews</h3>
<% if @user == current_user %>
  <p><%= link_to 'New review', new_schedule_review_path %></p>
<% end %>
<% @user.schedule_reviews.each do |sched_rev| %>
  <%= render sched_rev, schedule_review: sched_rev %><br/>
<% end %>

<p><%= link_to 'All Users', users_path %></p>
