<div class="class_review">
	<p class="rating">
		Difficulty: <%= class_review.difficulty %>/10
	</p>
	<p class="rating">
		Workload: <%= class_review.workload %>/10
	</p>
	<p>
		Suggested prerequisite classes: <%= class_review.prereqs.to_sentence %>
	</p>
	<p>
		Professor: <%= class_review.professor %>
	</p>
	<p>
		Date: <%= class_review.created_at.to_formatted_s(:long) %>
	</p>
	<p>
		Review by: <%= link_to class_review.user.name, class_review.schedule_review %>
	</p>
</div>
