<!-- <%= Course.find(class_review.course_id).name %>
<%= render partial: "shared/class_review", locals: {class_review: class_review} %> -->

<div class="class_review">
  <p class="rating">
    <%= link_to Course.find(class_review.course_id).name, course_path(class_review.course_id) %>
  </p>
  <p class="rating">
    Difficulty: <%= class_review.difficulty %>/10
  </p>
  <p class="rating">
    Workload: <%= class_review.workload %>/10
  </p>
  <p>
    Suggested prerequisite classes: <%= class_review.prereqs.to_sentence %>
  </p>
  <p>
    Professor: <%= class_review.professor %>
  </p>
</div>
